body{
  background-color: #FFFAF0;
}

h1{
  color: black;
  text-align: center;
  font-size: 50px;
  font-family: "Lucida Console", monospace;
  font-weight: bold;
}

p{
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  font-family: "Lucida Console", monospace;
}
